.input{
    border: 1px solid #6EEB83;
    background-color: #272727;;
    width: 600px;
    height: 60px;
    color: #FFFFFF;
    padding: 0px 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    
}